@media (max-width: 600px) {
  #nav {
    &-right {
      display: none !important;
    }
  }

  #showcase {
    div {
      p {
        visibility: hidden;
        span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          visibility: visible !important;
        }
      }
    }
  }

  #projects-images.projects-images {
    grid-template-columns: 1fr !important;
  }

  #cards.cards {
    display: grid;
    grid-template-columns: 1fr !important;
  }
}
