#nav {
  background-color: #fff;
  width: 100%;
  position: fixed;
  z-index: 10;
  height: 54.5px;
  box-shadow: 0 2px 5px 0 RGB(0 0 0 / 16%), 0 2px 10px 0 RGB(0 0 0 / 12%);

  &-left {
    float: left;
    letter-spacing: 4px;
    display: table;
    padding: 8px 16px;

    &::after {
      content: "";
      clear: both;
      display: table;
    }

    a {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      padding: 8px 16px;

      &:hover {
        background-color: $first-color;
      }
    }

    span {
      font-weight: bolder;
    }
  }

  &-right {
    float: right;
    display: table;
    padding: 8px 16px 8px 0;
    &::after {
      content: "";
      clear: both;
      display: table;
    }
  }

  a {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    padding: 8px 16px;
    letter-spacing: 4px;

    &:hover {
      background-color: $first-color;
    }
  }
}
